@model eBus.web.ViewModels.NovostiVM;
@{
    Layout = "_PutnikLayout";
    ViewData["Title"] = "Novosti";


}

<!-- ======= Suscribe Section ======= -->
<div class="suscribe-area kreirajRazmak">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs=12">
                <div class="suscribe-text text-center">
                    <h3>Novosti</h3>

                </div>
            </div>
        </div>
    </div>
</div><!-- End Suscribe Section -->



<div class="blog-page area-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="page-head-blog">
                    <div class="single-blog-page">
                        <!-- search option start -->
                        <form action="#">
                            <div class="search-option">
                                <input type="text" placeholder="Search...">
                                <button class="button" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </form>
                        <!-- search option end -->
                    </div>
                    <div class="single-blog-page">
                        <!-- recent start -->
                        <div class="left-blog">
                            <h4>Zadnje objave</h4>
                            <div class="recent-post">
                                @foreach (var item in Model.ListaNovina)
                                {
                                    <div class="recent-single-post">
                                        <div class="post-img">
                                            <a href="#">
                                                <img src=@(string.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(item.Slika))) alt="...">
                                            </a>
                                        </div>
                                        <div class="pst-content">
                                            <p><a href="#"> @item.Naslov</a></p>
                                        </div>
                                    </div>
                                    <!-- End single post -->
                                }
                                <!-- start single post -->


                            </div>
                        </div>
                        <!-- recent end -->
                    </div>

                </div>
            </div>
            <!-- End left sidebar -->
            <!-- Start single blog -->
            <div class="col-md-8 col-sm-8 col-xs-12">

                @foreach (var komp in Model.ListaNovina)
                {
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="single-blog">
                                <div class="single-blog-img ">
                                    <a href="blog-details.html">

                                        <img src=@(string.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(komp.Slika))) alt="...">
                                    </a>
                                </div>
                                <div class="blog-meta">
                                    <span class="comments-type">
                                        <i class="fa fa-eye"></i>
                                        <a href="#">@komp.BrojPregleda</a>
                                    </span>
                                    <span class="date-type">
                                        <i class="fa fa-calendar"></i>@komp.DatumObjave
                                    </span>
                                </div>
                                <div class="blog-text" >
                                    <h4>
                                        <a href="#">@komp.Naslov</a>
                                    </h4>
                                    @if (komp.Sadrzaj.Length > 100)
                                    {
                                        <p> @(komp.Sadrzaj.Substring(0,100)) ...</p>
                                    }
                                    else
                                    {
                                        <p> @komp.Sadrzaj</p>
                                    }
                                </div>
                                <span>
                                    <a href="/Novosti/PrikaziNovost?novostId=@komp.Id" class="ready-btn">Više ..</a>
                                </span>
                            </div>
                        </div>
                        <!-- End single blog -->





                    </div>
                }

            </div>
        </div>
    </div>
</div><!-- End Blog Page -->
